/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&display=swap");
body {
  overflow-x: hidden;
  background-color: #ffffff;
}
.main {
  /* background:  #9a6607 !important; */
  margin-top: 75px !important;
}
.container11 {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
}
.mylink {
  position: relative;
  border-bottom: 0; /* Remove the default bottom border */
  transition: border-bottom-color 0.9s;
  margin-top: 8px;
}

/* .nav_logo {
  padding: 10px 0;
} */
/* a {
  color: #fff ;
  text-decoration: none;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
.dropdown-item {
  font-size: 21px !important;
  font-family: serif !important;
}
.blogcontcource {
  margin-top: 4%;
}

.curveImg {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.hero .row1 {
  display: flex;
  align-items: center;
  min-height: 57vh;
  height: 100%;
  width: 100%;
  padding: 0 60px;
  gap: 30px;
  justify-content: space-between;
}
.row1 {
  width: 49%;
}
.hero .row1 h2,
.hero .row1 p {
  color: #fff;
  text-align: justify;
  font-weight: 300;
  font-family: CerebriSans !important;
  font-size: 21px;
}
.hero .row1 h2 {
  font-size: 35px;
  font-weight: 600;
  font-family: CerebriSans !important;
  margin-bottom: 16px;
}
.hero .column1 {
  width: 50%;
}
.buttons {
  display: flex;
  margin-top: 25px;
  gap: 10px;
}
.hero_img {
  animation-name: hero_img;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes hero_img {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
.btn {
  padding: 14px 26px;
  /* background: #fff; */
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* .btn:last-child {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
} */
.btn:last-child:hover {
  /* background-color: #fff; */
  color: #333;
}
.hero_img {
  width: 100%;
  z-index: 10;
  position: relative;
}
#menu_toggle {
  display: none;
}
article {
  padding: 5px;
  margin: 30px;
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background: #595d5f;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}
.fab {
  margin-bottom: 7px;
}
/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: larger;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}
/* my card footer  */
.container {
  max-width: 1273px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/* ul {
  list-style: none;
} */
.imgpart11 {
  margin-left: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer {
  border-top: 15px solid #595d5f;
  padding-bottom: 120px;
  background-color: #132041;
  padding-top: 27px;
  /* padding: 70px 0; */
  margin-top: 30px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  margin-left: 30px;
  font-size: 22px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
  margin-right: 20px !important;
}
.footer-col ul li a {
  font-size: 22px !important;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300 !important;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 11px;
  border-radius: 50%;
  color: #bbbbbb;
  transition: all 0.5s ease;
  /* font-size: px; */
}
.socialicon {
  height: 4vh;
  background-color: white;
  border-radius: 19px;
  padding: 1px;
}
/* .maycolum{
   margin-left: -30px !important;
    font-size: 22px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px !important;
    font-weight: 500;
    position: relative;
} */
.myfinacce {
  width: 50% !important;
  margin-left: -15px;
}
.socialicon11 {
  height: 4vh;
  background-color: white;
  border-radius: 19px;
  padding: 1px;
  margin-right: 6px;
}
/* .footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
} */

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.dropdown-item:hover {
  background-color: blue !important; /* Set your desired hover color */
  color: white !important; /* Set text color for better visibility */
}

/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1393px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  gap: 24px;
}

.card1-list {
  width: 90%;
  max-width: 400px;
}

.card1 {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 20px 50px 0 rgba(#000, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;

  &:hover,
  &:focus-within {
    box-shadow: 0 0 0 2px #16c79a, 0 10px 60px 0 rgba(#000, 0.1);
    transform: translatey(-5px);
  }
}

.card1-image {
  border-radius: 10px;
  overflow: hidden;
}

.card1-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.25;
    padding-right: 1rem;
    text-decoration: none;
    color: inherit;
    will-change: transform;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.icon-button {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 3px 8px 0 rgba(#000, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;

  svg {
    width: 1em;
    height: 1em;
  }
  &:hover,
  &:focus {
    background-color: #ec4646;
    color: #fff;
  }
}

.card1-footer {
  margin-top: 1.25rem;
  border-top: 1px solid #ddd;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card1-meta {
  display: flex;
  align-items: center;
  color: #787878;
  &:first-child:after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentcolor;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .articles {
    display: block;
  }
  /* .article-body p {
    display: none;
  } */
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.new_footer_area {
  background: #fbfbfd;
}

.new_footer_top {
  padding: 36px 0px 219px;
  position: relative;
  overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 5px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color: white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 12px;
  margin-top: 10px;
  text-decoration: underline;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
} */
.new_footer_top .f_widget.about-widget .f_list li a {
  color: white;
  text-decoration: none;
}

.row113 {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 22rem;
  margin: auto;
}
.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png")
    no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif")
    no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif")
    no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/* Reponsive */
@media (width < 860px) {
  .row113 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .mylink {
    color: #000 !important;
  }
  #menu_toggle {
    display: block;
  }
  .cardpc {
    width: 110px !important;
    height: 91px !important;
  }
  .nav {
    padding: 0 20px;
    /* background-color: #d82727; */
  }
  .main {
    background: #6610f2 !important;
    margin-top: 40px !important;
  }
  .cardccc {
    width: 109px !important;
  }
  .containercc .cardcc .face {
    width: 200px !important;
    height: 200px !important;
    transition: 0.5s;
  }
  /* .card-container{
  margin-left: 30px;

} */

  .menu_items {
    position: fixed;
    top: 0;
    width: 260px;
    background-color: #fff;
    height: 100%;
    left: -100%;
    padding: 50px 30px 30px;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .showMenu .menu_items {
    left: 0;
  }
  a {
    color: #333;
  }
  #menu_toggle {
    width: 9%;
    cursor: pointer;
    background: white;
    border-radius: 9px;
  }
  .nav_logo {
    width: 29% !important;
  }

  .menu_items #menu_toggle {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .hero {
    /* padding-top: 130px; */
  }
  .hero .row1 {
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
  }
  .hero .row1 .column1 {
    width: 100%;
  }
}

@media (width < 600px) {
  /* .hero {
    padding-top: 80px;
  } */
  .hero .row1 h2 {
    font-size: 22px;
  }
  .buttons {
    justify-content: center;
  }
  .btn {
    padding: 10px 16px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .placec113 {
    font-size: 9px !important ;
}
}
