.card11{
   /* margin: 20px !important ; */
    border: 2px solid gold;
    box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
    border-radius: 40px;
   
}
.reating-list li  {
    font-size: 23px;
    color: #cd9759;
    margin-left: 2px;
}

.courses-icons{
    display: flex;
    justify-content: space-between;
}
.courses-icons p {
    margin-right: 3px;
    display: flex;
    font-size: 13px;
    color: #93001a;
    align-items: center;
    margin-bottom: 0;
}
.cardcardbody{
text-align: center;
color: orangered;
font-family:initial;
justify-content: center;

}
@media (min-width: 992px) {
    .custom-card {
        margin: 30px;
    }
}

/* Mobile View */
@media (max-width: 991px) {
    .custom-card {
        margin: 0;
    }
}